<div class="container pushDown" align="center">
    <div class="jumbotron">
        <img src="images/photosOfMe/photo_1.png" alt="" class="bioSize">
        <h1>Lin Ochoa</h1>
        <div class="col-8">
            <p class="lead">On Long Island, Lin has lived here for all his life and knows no other home. Lin's parents are Trinidadian and Chinese but he was born here in the U.S. as first generation. Most of his skills started off as hobbies that later on turned into larger passions.</p>
        </div>
        <ul class="list-unstyled">
            <li><h2>Education</h2></li>
                <p>New York College of Health Professions</p>
                <p>Nassau Community College</p>
                <p>Queens College</p>
            <li><h2>Hobbies</h2></li>
                <p>Playing tennis</p>
                <p>Playing Guitar</p>
                <p>Singing</p>
            <li><h2>Goals</h2></li>
                <p>Making youtube videos</p>
                <p>Read more books</p>
                <p>Eat more plant based whole foods</p>
        </ul>
      </div>
</div>