        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <a class="navbar-brand" href="/">Lin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>    
            <div class="collapse navbar-collapse pushRight" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item spaceOut">
                        <a class="nav-link" href="/bio"><p class="navText">Bio</p></a>
                    </li>
                    <li class="nav-item spaceOut">
                        <a class="nav-link" href="/pricing"><p class="navText">Pricing</p></a>
                    </li>
                </ul>
            </div>
            <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/signup"><p class="navText">Sign up</p></a>
            <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="/login"><p class="navText">Client Login</p></a>
        </nav>