<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{>stylesheets}}
        {{>navbar}}
    </head>
    <body>
        <div class="pushDown">
            {{{body}}}
        </div>
        {{>scripts}}
    </body>
</html>