$textColor:#2ab400;
$backgroundColor:#b1f0a8;
$mainFont: Dancing Script;
$secondaryFont: Varela Round;
$navbarColor: #223b2b;
$navbarText:#b1f0a8;
$innerHeaders:#9dd7b2;
$innerBodies: #d5eede;
body{
    background-color: $backgroundColor;
}
h1, h2, h3{
    text-align: center;
    color: black;
    font-family: $mainFont, Arial, Helvetica, sans-serif;
}
h4{
    font-family: $secondaryFont;
}
a{
    color: $textColor;
    font-family: $mainFont Arial, Helvetica, sans-serif;
}
a.navbar-brand{
    margin: -10px;
    font-size: 50px;
}
ul{
    text-align: center;
    font-family: $secondaryFont, Arial, Helvetica, sans-serif;
}
p{
    font-family: $secondaryFont;
}
li{
    text-align: center;
}
form{
    text-align: center;
}
.navbar-light .navbar-brand{
    color: $navbarText;
    font-family: $mainFont;
}
.nav{
    background-color: $navbarColor;
}
.bg-light{
    background-color: $navbarColor; 
}
.navbar{
    background-color: $navbarColor;
}
#myCarousel{
    margin-top: 50px;
}

#clipArt{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.card-header{
    background-color: $innerHeaders;
}

.pushDown{
    margin-top: 81px;
}
.card-body{
   background-color: $innerBodies;
}

.pushRight{
    margin-left: 20px;
}

.navText{
    color: $navbarText
}

.spaceOut{
    margin-left: 20px;
    margin-top: 10px;
}