<div class="justify-content-center">
    <section>
        <div class="block">
            <h1>Lin Ochoa</h1>
            <h3>What can he do for you?</h3>
        </div>
    </section>
    <section>
        <div class="parallax-one">
            <h1>Tennis</h1>
        </div>
    </section>
    <section>
        <div class="block">
            <h1><img src="/images/LandingPageClipArt/TennisBall.png" id="clipArt"alt=""></h1>
            <div class="container">
                <p class="text-center">Have you ever wanted to get into the game of tennis? Now is your chance to get involved.</p>
                <p class="text-center">Lin does the following:</p>
            </div>
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Lessons</h4>
                    </div>
                    <div class="card-body">
                        <p>Take your game to the next level by taking lessons. You'll be doing the following: </p>
                        <ul class="list-unstyled">
                            <li>Drills</li>
                            <li>Stragy</li>
                            <li>Technique improvments</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Hitting Sessions</h4>
                    </div>
                    <div class="card-body">
                        <p>Are you only interested in playing? Here are some things others have done in a hittin session:</p>
                        <ul class="list-unstyled">
                            <li>Rally</li>
                            <li>Point play</li>
                            <li>Match play</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Gear advice</h4>
                    </div>
                    <div class="card-body">
                        <p>Do you wonder if your gear is right for you? Lin will give tips on:</p>
                        <ul class="list-unstyled">
                            <li>Rackets</li>
                            <li>Strings</li>
                            <li>String Tensions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="parallax-two">
            <h1>Music</h1>
        </div>
    </section>
    <section>
        <div class="block">
            <h1><img src="/images/LandingPageClipArt/HeadPhones.png" id="clipArt"alt=""></h1>
            <div class="container">
                <p class="text-center">Have you ever wanted to get into music? Nows your chance to get involved.</p>
                <p class="text-center">Lin does the following:</p>
            </div>
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Lessons</h4>
                    </div>
                    <div class="card-body">
                        <p>Learn to play/use the following:</p>
                        <ul class="list-unstyled">
                            <li>Guitar</li>
                            <li>Ukelele</li>
                            <li>Logic Pro X</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Recording Sessions</h4>
                    </div>
                    <div class="card-body">
                        <p>Lin will help you record the following:</p>
                        <ul class="list-unstyled">
                            <li>Electric Guitar</li>
                            <li>Acoustic Guitar</li>
                            <li>Vocals</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Gear advice</h4>
                    </div>
                    <div class="card-body">
                        <p>Do you wonder if your gear is right for you? Lin will give tips on:</p>
                        <ul class="list-unstyled">
                            <li>Guitars</li>
                            <li>Amps</li>
                            <li>Computer Gear</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="parallax-three">
            <h1>Do you need a massage?</h1>
        </div>
    </section>
    <section>
        <div class="block">
            <h1><img src="/images/LandingPageClipArt/Stones.png" id="clipArt"alt=""></h1>
            <div class="container">
                <p class="text-center">Are you stressed and need to relax with a massage.</p>
                <p class="text-center">Lin does the following:</p>
            </div>
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Swedish</h4>
                    </div>
                    <div class="card-body">
                        <p>Perfect for slowing down and stimulate the parasympathetic nervous system. Swedish is great for:</p>
                        <ul class="list-unstyled">
                            <li>Relaxation</li>
                            <li>Muscle tone</li>
                            <li>Blood circulation</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Deep Tissue</h4>
                    </div>
                    <div class="card-body">
                        <p>If you have very tight muscles this may be for you. Deep Tissue benefits are:</p>
                        <ul class="list-unstyled">
                            <li>Relieving muscle hypertonicity</li>
                            <li>Reduce muscle spasms</li>
                            <li>Treating anxiety</li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Sports Massage</h4>
                    </div>
                    <div class="card-body">
                        <p>Are you an athlete? If yes this massage is just for you:</p>
                        <ul class="list-unstyled">
                            <li>Pre-competition massage (stimulate)</li>
                            <li>Post-competition massage (recovery)</li>
                            <li>Range of motion (stretching)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>